<h1 class="p-3">Rounded Corners Directive</h1>



<!-- <h3 class="px-5">Free test</h3>

<div class="freeTest row no-gutters">

    <div class="col-12 px-4">
        <input type="range" min="0" max="140" class="mb-4" style="width: 80%;" [(ngModel)]="freeTest_roundness"> {{freeTest_roundness}} px
    </div>

    <div class="col-3"></div>
    <div class="col-6 px-4">
        <input type="range" min="0" max="140" class="mb-4" style="width: 80%;" [(ngModel)]="margin[0]"> {{margin[0]}} px
    </div>
    <div class="col-3"></div>

    <div class="col-6 px-4">
        <input type="range" min="0" max="140" class="mb-4" style="width: 80%;" [(ngModel)]="margin[3]"> {{margin[3]}} px
    </div>
    <div class="col-6 px-4">
        <input type="range" min="0" max="140" class="mb-4" style="width: 80%;" [(ngModel)]="margin[1]"> {{margin[1]}} px
    </div>
    <div class="col-3"></div>
    <div class="col-6 px-4">
        <input type="range" min="0" max="140" class="mb-4" style="width: 80%;" [(ngModel)]="margin[2]"> {{margin[2]}} px
    </div>
    <div class="col-3"></div>


    <div class="divButton" roundedCorners
        
        [style.borderRadius]="freeTest_roundness+'px'">
        <button [style.margin]="margin[0]+'px '+margin[1]+'px '+margin[2]+'px '+margin[3]+'px'">
            Rounded <br> button
        </button>
    </div>
</div>

<br><br><br><br><br><br><br><br><br> -->

<div class="row no-gutters" style="align-items: flex-start;">

    <h3 class="px-5" style="width: 100%;">Container with divs inside</h3>
    
    <h5 class="px-5">border-radius</h5>
    <div class="px-5" style="color: white; width: 100%;">
        <input type="range" min="0" max="100" class="mb-4" style="width: 400px;" [(ngModel)]="divRoundness"> {{divRoundness}} px
    </div>

    <div class="row no-gutters ml-4" style="width: 100%;">
        <div class="col-12">
            <h5 class="px-5">Transform X, Y</h5>
        </div>
        <div class="col-6 px-4">
            <input type="range" min="0" max="200" class="mb-4" style="width: 80%;" [(ngModel)]="transform[0]"> {{transform[0]}} px
        </div>
        <div class="col-6 px-4">
            <input type="range" min="0" max="200" class="mb-4" style="width: 80%;" [(ngModel)]="transform[1]"> {{transform[1]}} px
        </div>
    </div>

    <div class="containerWithDivs row no-gutters" style="background-color: rgb(90, 181, 255);" roundedCorners [style.borderRadius]="divRoundness+'px'">
        <div class="a" style="background-color: #5f1fa3;" [style.transform]="'translate('+transform[0]+'px, '+transform[1]+'px)'">A</div>
        <div class="b" style="background-color: #c03c9d;">B</div>
        <div class="c" style="background-color: #b17a2d;">C</div>
        <div class="d" style="background-color: #8dc144;">D</div>
    </div>

    <div class="mobil ml-4" roundedCorners [style.borderRadius]="divRoundness/3+'px'">
        <button class="save">Save</button>
    </div>




    <h3 class="p-5">Bottom left aligned, rounded button</h3>

    <div class="div3 mb-4">
        <div>
            <p>Before roundedCorners</p>
            <button>Bottom left aligned, <br> rounded button</button>
        </div>
        <div roundedCorners>
            <p>After roundedCorners</p>
            <button>Bottom left aligned, <br> rounded button</button>
        </div>
        <div>
            <p>Should be</p>
            <button style="border-radius: 0.5rem 0.5rem 0.5rem 48px;">
                Bottom left aligned, <br> rounded button
            </button>
        </div>
        <div roundedCorners>
            <p>After roundedCorners</p>
            <button class="px-3">Smaller button</button>
        </div>
    </div>
</div>






<br><br><br><br><br><br><br><br>

<h3 class="px-5">Corners with different paddings</h3>
<div class="row no-gutters p-5">
    <div class="col-6" style="color: white;">
        <input type="range" min="0" max="140" class="mb-4" style="width: 80%;" [(ngModel)]="eachRoundness[0]" (input)="sliderInput()"> {{eachRoundness[0]}} px
    </div>
    <div class="col-6" style="color: white;">
        <input type="range" min="0" max="140" class="mb-4" style="width: 80%;" [(ngModel)]="eachRoundness[1]" (input)="sliderInput()"> {{eachRoundness[1]}} px
    </div>
    <div class="col-6" style="color: white;">
        <input type="range" min="0" max="140" class="mb-4" style="width: 80%;" [(ngModel)]="eachRoundness[3]" (input)="sliderInput()"> {{eachRoundness[3]}} px
    </div>
    <div class="col-6" style="color: white;">
        <input type="range" min="0" max="140" class="mb-4" style="width: 80%;" [(ngModel)]="eachRoundness[2]" (input)="sliderInput()"> {{eachRoundness[2]}} px
    </div>
</div>
<div class="grup1" style="padding: 40px;">
    <div class="div2" style="padding: 30px;" roundedCorners><button>30px</button></div>
    <div class="div2" style="padding: 6px 30px;" roundedCorners><button>6px 30px</button></div>
    <div class="div2" style="padding: 30px 6px;" roundedCorners><button>30px 6px</button></div>
    <div class="div2" style="padding: 40px 30px;" roundedCorners><button>40px 30px</button></div>
    <div class="div2" style="padding: 30px 40px;" roundedCorners><button>30px 40px</button></div>
</div>






<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>




<div class="grup2" style="border-radius: 100px;" >
    <div class="pare" style="background-color: rgb(48, 116, 93); padding: 2rem;">
        <div class="cards a" style="background: rgb(112, 75, 75);">
            <div class="card b" style="background: rgb(23, 32, 35); border: 4px solid rgb(106, 152, 0);">
                <button class="c" style="background-color: rgb(83, 58, 156);">Button</button>
            </div>
        </div>
    </div>
    <div>
        <h1 style="background: rgb(1, 2, 2); padding: 5.61914px 3.52868px 7.51632px 8.20915px; margin: 0.832295px 9.17855px 2.38573px 5.22501px;">Test 2</h1>
        <div style="background: rgb(148, 151, 101); padding: 6.33039px 3.28262px 8.51779px 7.13797px; margin: 2.26571px 7.11225px 9.00985px 0.300408px;">
            <div style="background: rgb(12, 18, 13); padding: 9.48773px 4.71701px 3.36102px 2.99173px; margin: 6.89973px 1.33995px 7.70396px 1.6165px;">
                <button>Botón 1</button>
                <button>Botón 2</button>
            </div>
            <div style="background: rgb(138, 128, 92); padding: 1.86325px 7.95461px 1.61518px 0.857077px; margin: 3.22506px 0.643347px 8.44751px 0.883014px;">
                <button>Botón 3</button>
                <button>Botón 4</button>
            </div>
        </div>
        <div style="background: rgb(25, 17, 23); padding: 1.39201px 0.880507px 9.21376px 6.30915px; margin: 5.15295px 0.129181px 3.97848px 0.407342px;">
            <div style="background: rgb(102, 82, 123); padding: 8.23711px 2.89158px 4.19292px 2.85721px; margin: 4.84251px 2.51237px 9.93591px 3.65019px;">
                <button>Botón 5</button>
                <button>Botón 6</button>
            </div>
            <div style="background: rgb(34, 23, 30); padding: 0.166899px 5.56781px 1.88517px 9.90329px; margin: 8.58705px 5.4504px 6.24249px 5.78276px;">
                <button>Botón 7</button>
                <button>Botón 8</button>
            </div>
        </div>
        <h1 style="background: rgb(44, 29, 42); padding: 1.67297px 6.44508px 5.36582px 1.19061px; margin: 3.8649px 6.23813px 4.74639px 2.53376px;">Test 3</h1>
        <div style="display: flex; flex-wrap: wrap; background: rgb(94, 99, 141); padding: 6.93687px 5.21448px 4.25679px 5.57842px; margin: 2.12263px 0.715694px 5.62709px 8.30835px;">
            <div style="width: 400px; height: 200px; background: rgb(33, 37, 50); margin: 2.81832px 1.21237px 6.20216px 7.03424px; padding: 0.227612px 0.0927869px 4.25134px 9.1813px;">
                <button>Button</button>
            </div>
            <div style="width: 400px; height: 200px; background: rgb(77, 105, 70); text-align: right; margin: 2.85435px 8.20885px 8.60568px 0.474671px; padding: 6.62745px 4.27227px 4.75899px 2.33338px;">
                <button>Button</button>
            </div>
            <div style="width: 400px; height: 200px; background: rgb(43, 37, 29); padding: 2.31362px 2.0473px 8.33276px 1.42714px; margin: 3.37913px 9.94453px 5.80076px 1.04358px;">
                <button>Button</button>
            </div>
            <div style="width: 400px; height: 200px; background: rgb(56, 84, 73); margin: 3.53157px 4.56447px 4.66861px 3.26435px; padding: 7.33986px 5.28837px 3.62755px 6.69489px;">
                <button>Button</button>
            </div>
            <div style="width: 400px; height: 200px; background: rgb(72, 86, 57); margin: 3.74997px 6.09695px 8.98735px 2.25241px; padding: 5.74745px 1.76683px 4.01783px 9.40967px;">
                <button>Button</button>
            </div>
            <div style="width: 400px; height: 200px; background: rgb(40, 27, 27); margin: 7.69187px 0.706039px 7.47593px 9.52112px; padding: 0.616216px 3.84193px 0.0628405px 4.44746px;">
                <button>Button</button>
            </div>
        </div>


        =====================================================================

        <h1>Test 1</h1>

        <div class="cards">
            
            <div class="card" style="">
                <button style="">
                    Button
                </button>
            </div>
            <div class="card" style="text-align: right;">
                <button style="">
                    Button
                </button>
            </div>
            <div class="card" style="padding: 0.5rem;">
                <button style="">
                    Button
                </button>
            </div>
            <div class="card" style="">
                <button style="">
                    Button
                </button>
            </div>
            <div class="card" style="">
                <button style="">
                    Button
                </button>
            </div>
            <div class="card" style="">
                <button style="">
                    Button
                </button>
            </div>

        </div>




        <h1>Test 2</h1>


        <div style="background-color: #1a1a1a; padding: 10px; margin-bottom: 20px;">
            <div style="background-color: #333; padding: 15px; margin-bottom: 10px;">
            <button style="margin-right: 10px; color: white;">Botón 1</button>
            <button style="color: white;">Botón 2</button>
            </div>
            <div style="background-color: #444; padding: 20px; margin-bottom: 15px;">
            <button style="margin-left: 5px; color: white;">Botón 3</button>
            <button style="color: white;">Botón 4</button>
            </div>
        </div>

        <div style="background-color: #2d2d2d; padding: 12px; margin-bottom: 25px;">
            <div style="background-color: #555; padding: 18px; margin-bottom: 8px;">
            <button style="margin-right: 8px; color: white;">Botón 5</button>
            <button style="color: white;">Botón 6</button>
            </div>
            <div style="background-color: #666; padding: 22px; margin-bottom: 12px;">
            <button style="margin-left: 7px; color: white;">Botón 7</button>
            <button style="color: white;">Botón 8</button>
            </div>
        </div>



        <h1>Test 3</h1>


        <div style="display: flex; flex-wrap: wrap;">

            <div style="width: 400px; height: 200px; background-color: #444; margin: 1rem; padding: 1rem;">
            <button style="margin: 0.5rem; padding: 0.5rem 1rem; font-size: 1.3rem; color: white;">Button</button>
            </div>

            <div style="width: 400px; height: 200px; background-color: #444; text-align: right; margin: 1rem; padding: 0.5rem;">
            <button style="margin: 0.25rem; padding: 0.75rem 1rem; font-size: 1.3rem; color: white;">Button</button>
            </div>

            <div style="width: 400px; height: 200px; background-color: #444; padding: 0.5rem; margin: 1rem;">
            <button style="margin: 0.75rem; padding: 0.25rem 1rem; font-size: 1.3rem; color: white;">Button</button>
            </div>

            <div style="width: 400px; height: 200px; background-color: #444; margin: 1rem; padding: 1rem;">
            <button style="margin: 0.5rem; padding: 0.5rem 1rem; font-size: 1.3rem; color: white;">Button</button>
            </div>

            <div style="width: 400px; height: 200px; background-color: #444; margin: 1rem; padding: 1rem;">
            <button style="margin: 0.5rem; padding: 0.5rem 1rem; font-size: 1.3rem; color: white;">Button</button>
            </div>

            <div style="width: 400px; height: 200px; background-color: #444; margin: 1rem; padding: 1rem;">
            <button style="margin: 0.5rem; padding: 0.5rem 1rem; font-size: 1.3rem; color: white;">Button</button>
            </div>

        </div>


    </div>  
</div>
