.grup4 {
    margin-bottom: 10rem;
    
    .freeTest {
        width: 100%;


        .divButton {
            background-color: rgb(129, 0, 143);
            width: 232px;
            height: 232px;

            margin-left: 8rem;


            button {
                background-color: rgb(0, 30, 112);
                width: 100px;
                height: 75px;

                cursor: move;

                border-radius: 0.5rem;
            }
        }

    }
}



.grup3 {
    margin-bottom: 10rem;
    
    .containerWithDivs {
        display: flex;
        flex-wrap: wrap;
        
        min-width: 400px;
        width: 400px;


        div {
            width: 180px;
            height: 180px;
            margin: 10px;
            text-align: center;
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1rem;
        }
    }

    .mobil {
        position: relative;
        width: 300px;
        height: 400px;
        background: linear-gradient(45deg, rgb(251, 96, 96), rgb(255, 238, 154));

        .save {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgb(10, 132, 255);
            
            font-size: 2rem;
            margin: 0.5rem;
            border: none;
        }
    }
}



.grup2 {
    margin-bottom: 10rem;

    .div3 {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    
        div {
            background-color: rgb(28, 123, 102);
            border-radius: 4rem;
            margin: 1rem;
            padding: 1rem;
    
            p {
                padding-top: 1rem;
                font-size: 1.5rem;
            }
    
            button {
                margin: 5rem 5rem 0 0;
                background-color: rgb(95, 5, 5);
                border-radius: 0.5rem;
                font-size: 1.5rem;
                padding: 0.5rem 1rem;
            }
        }
    }
}



.grup1 {

    .divs1 {
        // background-color: #732b2b;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        .div2 {
            border-radius: 60px;
            margin: 1rem;
            background-color: #ffff9b;

            button {
                background-color: #00680e;
                border: none;
                padding: 5rem;
                font-size: 2rem;
            }
            .divInput {
                padding: 1rem;
                background-color: #2a891f;
                padding: 5rem;
                
                input {
                    background-color: #00680e;
                    
                    font-family: "Consolas";
                    // border: none;
                    outline: none;
                    font-size: 2rem;
                    text-align: center;
                }
            }
        }
    }
}

button {
    border: none;
    outline: none;
}
