div.grup1 {
    background-color: #732b2b;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    // border-radius: 120px;





    div {
        border-radius: 60px;
        background-color: #ffff9b;
        margin: 15px;

        button {
            background-color: #00680e;
            border: 10px solid;
            border-color: rgb(143, 76, 0) rgb(78, 0, 114) rgb(139, 118, 0) rgb(0, 73, 89);
            padding: 5rem;
            font-size: 2rem;
        }
    }













}

.grup2 {
    .pare {
        border-radius: 100px;
        // border-radius: 160px 80px 40px 20px;
        padding-top: 80px !important;
        padding-bottom: 80px !important;

        div.a {
            padding: 10px 3.5px !important;
            div.b {
                margin: 3.5px 10px !important;
                padding: 20px 7px !important;
                button.c {
                    margin: 7px 20px !important;
                    width: -webkit-fill-available;
                }
            }
        }
    }

    .cards {
        .card {

            background-color: #444;
            margin: 1rem;

            button {
                padding: 5rem 10rem;
                font-size: 1.3rem;

                border: 0;
            }

        }

    }

    h1 {
        margin-left: 3rem;
    }
    .custom-border {
        border: 2px solid #333;
        padding: 1rem;
        margin: 1rem;
        display: inline-block;
    }
}
